= simple_form_for @category do |f|
  - f.label t('title')
  = f.input :title
  %br/
  %h3= t '.question'

  #questions
    = f.simple_fields_for :questions do |question|
      = render 'question_fields', f: question
    .links
      = link_to_add_association t('.add'), f, :questions
  = f.submit
