%h1.text-center.mb-4= t '.title'



.row
  - @categories.each do |category|
    .col-sm-6
      .card
        .card-body
          %h5.card-title.text-center= category.title
          %p.text-center= link_to 'Show questions', category
          %p.text-center= link_to 'Edit category', edit_category_path(category)
          %p.text-center= link_to 'Destroy catgeory', category, method: :delete, data: { confirm: 'Are you sure?' }


%br/
= link_to 'Créer une nouvelle catégorie', new_category_path




