%h1.text-center.mb-4= t '.title'



.row
  - @categories.each do |category|
    .col-sm-6
      .card
        .card-body
          %h5.card-title.text-center.mb-5= category.title
          %p.text-center= link_to t('.show'), category
          %p.text-center= link_to t('.edit'), edit_category_path(category)
          %p.text-center= link_to t('.destroy'), category, method: :delete, data: { confirm: 'Are you sure?' }


%br/

%p.text-center= link_to t('.create'), new_category_path

