%div.margin

  %h1.text-center= @category.title

  - if @category.questions.empty?
    %p.text_center Il n'y a pas encore de questions pour cette catégorie


  .list-group.margin
    - @category.questions.each do |question|
      %a.list-group-item.list-group-item-action
        .d-flex.w-100.justify-content-between
          %h5.mb-1= question.title
        %p.mb-1= question.body

  %br/
  %br/


  = link_to t('.edit'), edit_category_path(@category)
  |
  = link_to t('.show'), categories_path
  |
  = link_to t('.destroy'), @category, method: :delete, data: { confirm: 'Êtes-vous sûr de supprimer cette catégorie ?' }



